section .search i{
    font-size: 50px;
    color: red;
}

section .search {
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

section .search input {
    width: 50%;
    height: 30px; 
}

section .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
