/* GLOBAL  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family: "Montserrat", sans-serif;
    color: #212529;
    background-color: #E5E5E5;
    letter-spacing: 1px;
}

button {
    background-color: #ff0e83;
    color: white;
    border: 1px solid white;
    padding: 13px 32px;
    border-radius: 5px;
    font-size: 0.875rem;
    cursor: pointer;
    letter-spacing: 1px;
    transition: all .5s;
}

button:hover {
    background-color: white;
    color: black;
    border-color: #ff0e83;
}

h2 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 3rem;
    text-align: center;
    letter-spacing: 2px;
}

/* HEADER  */
header {
    background-color: #4e2a84;
    padding: 20px 0;
}

.header__content {
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__content ul {
    list-style: none;
    margin-left: 40rem ;
}

.header__content ul li {
    display: inline;
    margin: 0 1rem;
}

.header__content ul a {
    text-decoration: none;
    color: white;
    font-size: 0.75rem;
    font-weight: 700;
    letter-spacing: 2px;
    transition: all .5s;
}

.header__content ul .active a {
    color: #ff0e83;
}

.header__content ul a:hover {
    color: #ff0e83;
}

.header__content p {
    color: white;
    font-size: 2.3rem;
    padding-left: 1rem;
}

.header__content a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 2px;
    transition: all .5s;
}

.header__content a:hover {
    color: #ff0e83;
}

.header__content a i {
    font-size: 1.5rem;
}

.header__content nav i {
    font-size: 1rem;
}

/* CAROUSEL  */
.carousel {
    background-image: url(../img/c1.jpg);
    height: 800px;
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel__content h1 {
    font-size: 3.5rem;
}

.carousel__content p {
    font-size: 1.1rem;
    padding: 23px 0;
}

/* INTRO  */
.intro {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.intro__img1 {
    grid-column: 2 / span 2;
}

.intro__img2 {
    grid-column: 1 / span 2;
}

.intro__item img {
    width: 100%;
    display: block;
}

.intro__item {
    display: flex;
    align-items: center;
    text-align: center;
}

.intro__text {
    padding: 0 32px;
}

.intro__item h3 {
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.intro__item p {
    font-size: 0.875rem;
    color: #c1c1c1;
    line-height: 29px;
}

.intro .intro__item:first-child {
    background-color: #4e2a84;
}

.intro .intro__item:last-child {
    background-color: #ff0e83;
}

/* NUMBER  */
.number {
    padding: 70px 0;
}

.number__content {
    display: flex;
    justify-content: space-around;
    text-align: center;
    width: 70%;
    margin: 0 auto;
}

.number__item p:first-of-type {
    font-size: 2rem;
    color: #4e2a84;
    font-weight: 600;
}

.number__item p:last-of-type {
    font-size: 1.4rem;
    font-weight: 700;
    letter-spacing: 4px;
    padding: 24px;
}

/* SERVUCE  */
.services {
    background-image: url(../img/c1.jpg);
    background-size: cover;
    text-align: center;
    background-position: center;
    padding: 70px 0;
}

.services h2 {
    color: white;
}

.service__content {
    display: flex;
    width: 70%;
    margin: auto;
}

.service__item {
    padding: 0 20px;
}

.service__item i {
    width: 105px;
    height: 105px;
    line-height: 105px;
    border: 1px solid #4e2a84;
    border-radius: 50%;
    background-color: white;
    color: #4e2a84;
    font-size: 3.75rem;
    transition: all .3s;
}

.service__item:hover i {
    color: #ff0e83;
    cursor: pointer;
}

.service__item h3 {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 17px 0;
}

.service__item p {
    font-size: 0.875rem;
    line-height: 25px;
    margin: 0 0 12px;
}

.service__item button {
    padding: 12px 27px;
    border-width: 2px;
}